@import "../../styles/breakpoints";
@import "../../styles/colors.constants";

.hero-container {
  display: flex;
  flex-direction: column;

  height: 280px;
  padding: 16px;

  background-image: url("hero.jpg");
  background-position: center;
  background-size: cover;

  @include device_md {
    height: 300px;
    padding: 24px;
  }

  @include device_lg {
    height: 380px;
    padding: 32px;
  }
}

.hero-title {
  font-size: 42px;
  margin: 0px;
  color: white;
  text-shadow: 0 2px 16px rgba(0, 0, 0, 0.65);

  @include device_md {
    font-size: 56px;
  }
}

.hero-subtitle {
  font-size: 24px;
  color: white;
  text-shadow: 0 2px 16px rgba(0, 0, 0, 0.65);

  @include device_md {
    font-size: 32px;
  }
  padding-top: 16px;
  padding-bottom: 16px;
}

.hero-button {
}
