@import "../../styles/colors.constants";

.record {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  height: 60px;
  border-bottom: 1px solid black;
  padding-left: 8px;
  padding-right: 8px;
}

.icon {
  height: 44px;
  width: 44px;
  border-radius: 44px;
  border: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;

  &.vivienda {
    background-color: $vivienda;
  }

  &.comida {
    background-color: $alimentos;
  }

  &.transporte {
    background-color: $transporte;
  }

  &.servicios {
    background-color: $servicios;
  }

  &.ocio {
    background-color: $ocio;
    color: white;
  }

  &.deudas {
    background-color: $deudas;
    color: white;
    border-color: white;
  }
}

.description {
  font-size: 16px;
  font-weight: 400;

  color: #1e1e1e;
  flex-grow: 3;
}

.ammount {
  font-size: 16px;
  font-weight: bold;
  font-family: "Monesque", sans-serif;

  color: #1e1e1e;
  text-align: right;
}
