@import "../../styles/breakpoints";
@import "../../styles/colors.constants";

.expense {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  min-width: 300px;
}

.section {
  width: 100%;
}

.input {
  height: 40px;
  width: 100%;
  font-size: 14px;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  border: 1px solid darkgray;
  border-radius: 5px;
}

.add {
  height: 50px;
  font-size: 18px;
  font-weight: 700;
  color: black;
  background-color: $button-color;
  width: 100%;
  border: 1px black solid;
  border-radius: 5px;
}

.add:hover {
  background-color: $button-hover-color;
  cursor: pointer;
}
