@import "../../styles/colors.constants";

.record {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 8px 8px;
  gap: 8px;
  border-bottom: 1px solid darkgray;
}

.date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-width: 40px;

  background-color: white;

  border: 1px solid $medium-dark;
  border-radius: 5px;
}

.year {
  background-color: black;
  color: white;
  font-size: 10px;
  width: 100%;
  text-align: center;
  overflow: hidden;
  border-radius: 3px 3px 0px 0px;
}

.month {
  font-size: 12px;
}

.day {
  font-size: 14px;
  font-weight: bold;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;

  border-radius: 5px;
  background-color: $medium-dark;

  font-size: 14px;
  font-style: italic;
  font-weight: bold;

  color: lightgray;
}

.ammount {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  float: right;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 5px;
  min-width: 100px;
  max-width: 140px;

  &.vivienda {
    background-color: $vivienda;
  }

  &.alimentos {
    background-color: $alimentos;
  }

  &.transporte {
    background-color: $transporte;
  }

  &.servicios {
    background-color: $servicios;
    color: white;
  }

  &.ocio {
    background-color: $ocio;
    color: white;
  }
}
