$main-color: #2ca143;
$title-color: #fcfefe;
$background-color: white;
$button-color: #14a180;
$button-hover-color: #0e7059;

$pink-color: #f76b8a;
$pink-hover-color: #f65377;

$vivienda: #add8e6;
$alimentos: #90ee90;
$transporte: #ffffe0;
$servicios: #d8bfd8;
$ocio: #ffc0cb;
$deudas: black;

$main-black: black;
$main-white: white;
$main-pink: #f76b8a;
$main-green: #2ca143;
$dark-green: #0e7059;
