$main-color: #472357;
$title-color: white;
$background-color: #7796ba;
$button-color: #472357;
$button-hover-color: #85386f;

$vivienda: #add8e6;
$alimentos: #90ee90;
$transporte: #ffffe0;
$servicios: #d8bfd8;
$ocio: #ffc0cb;
$deudas: black;
