$main-color: #14a180;
$title-color: #fcfefe;
$background-color: white;
$button-color: #f76b8a;
$button-hover-color: #f65377;

$vivienda: #add8e6;
$alimentos: #90ee90;
$transporte: #ffffe0;
$servicios: #d8bfd8;
$ocio: #ffc0cb;
$deudas: black;
