@import "colors.constants";

body {
  margin: 0px;
  padding: 0px;
  background-color: $main-green;
}

a {
  text-decoration: none !important;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
