@import "breakpoints";
@import "colors.constants";

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  background-color: $background-gray;
  flex: 1;
  overflow: auto;
  padding-bottom: 77px;
}

.description {
  font-size: 20px;
  padding: 0px 16px;
  text-align: justify;
}
