@import "breakpoints";
@import "colors.constants";

.content {
  background-color: $background-color;
  flex: 1;
  overflow: auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
}

.loading {
  text-align: center;
}
