.menu-popup-container {
  width: 200px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #14a180;
  padding: 16px;
  animation-name: menu-popup;
  animation-duration: 0.2s;
  animation-direction: reverse;
  z-index: 2;
  margin-top: 60px;
}

.menu-popup-options {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 24px;
  font-weight: 900;
}

.option {
  color: black;
  cursor: pointer;

  &:hover {
    color: white;
  }
}

@keyframes menu-popup {
  0% {
    width: 200px;
  }
  100% {
    width: 0px;
  }
}
