@import "../../styles/colors.constants";

.menu-popup-container {
  width: 200px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  background-color: $button-hover-color;
  padding: 16px;
  z-index: 2;
  margin-top: 60px;
}

.menu-popup-options {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 24px;
  font-weight: 900;
}

.option {
  color: white;
  cursor: pointer;

  &:hover {
    color: white;
  }
}
