@import "../../styles/colors.constants";

.footer-container {
  background-color: $main-green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 6px;
}

.footer {
  color: $main-white;
}

.footer-link {
  color: $main-white;
  font-weight: 700;
  text-decoration-line: none;
}

.footer-content {
  font-size: 14px;
}
