@import "../../styles/breakpoints";
@import "../../styles/colors.constants";

.button-container {
  display: flex;
  text-align: center;
  background-color: none;
  padding-top: 8px;
}

.button {
  all: unset;
  color: white;
  background-color: $button-color;
  padding: 12px 24px;
  text-align: center;

  border-radius: 8px;

  cursor: pointer;
  font-size: 24px;
  font-weight: 900;

  &.pink {
    background-color: $pink-color;
  }
}

.button:hover {
  background-color: $button-hover-color;
  cursor: pointer;

  &.pink {
    background-color: $pink-hover-color;
  }
}
