@import "../../styles/breakpoints";
@import "../../styles/colors.constants";

.button-container {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: none;
}

.button {
  all: unset;
  color: white;
  background-color: $button-color;
  padding: 10px 16px;
  text-align: center;
  height: 25px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 900;
}

.button:hover {
  background-color: $button-hover-color;
  cursor: pointer;
}
