$vivienda: #05a1ff;
$alimentos: #60d938;
$transporte: #ffda31;
$servicios: #d41677;
$ocio: #ec220e;

$dark-background: #03060a;
$medium-dark: #10141c;
$light-dark: #181c24;

$input-background: #10080c;
