$vivienda: #05a1ff;
$alimentos: #60d938;
$transporte: #ffda31;
$servicios: #d41677;
$ocio: #ec220e;

$high-dark: #03060a;
$medium-dark: #10141c;
$light-dark: #181c24;

$input-background: #03060a;

$main-color: #1e1e1e;
$title-color: #0072c6;
$background-gray: #595959;
$button-orange: #ff9e00;
$button-orange-hover: #ffbb33;
