@import "breakpoints";

.header {
  background-color: #181c24;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  width: 100%;
}

.title {
  color: white;
  font-size: 18px;
}

.description {
  display: flex;
  font-size: 16px;
  font-weight: 100;
  height: 100%;
  width: auto;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  gap: 10px;
  padding-top: 10px;
  flex-direction: column;

  @include device_md {
    flex-direction: row;
  }
}
