@import "breakpoints";
@import "colors.constants";

.header {
  background-color: $main-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  font-family: "Mismo", sans-serif;
}

.title {
  color: white;
  font-size: 20px;
}

.content {
  display: flex;
  gap: 20px;
  padding: 10px;
  flex-direction: column;

  @include device_md {
    flex-direction: row;
  }
}
